.bg-sable {
  background-color: $sable !important;
  .text-secondary {
    color: rgb(108, 117, 125);
  }
  .post-url {
    a {
      text-decoration: none;
      color: rgb(108, 117, 125);
    }
  }
}
