<div class="d-flex text-black" id="post-<% post.id %>">
  <small class="text-secondary me-3"><%= "0" if index < 9 %><%= index + 1 %>.</small>
  <%= render "pages/post_content", post: post %>
</div>
<hr class="m-0">
