<div class="bg-sable">
  <% @posts.each_with_index do |post, index| %>
    <div class="d-flex px-4 py-2 flex-column" id="<%= post.id %>">
      <%= render "pages/post", post: post, index: index %>
    </div>
   <% end %>
</div>
